@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mb-2 hover:bg-gray-800 hover:shadow-lg rounded-3xl hover:rounded-xl transition-all duration-200 ease-linear;

  }

  .logo-icon {
    @apply relative flex items-center justify-center h-12 w-12 mb-2 rounded-md;
  }

}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-in-out forwards;
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease-in-out forwards;
}

.animate-bounce {
  animation: bounce 2s infinite;
}